.idea
*.pyc
*.rdb
*.sqlite
*.sqlite-journal
*.log
*.apk
*.cache
*.webassets-cache
assets_cache/
*.vulture
.migration_version
node_modules/
tags
.pytest_cache/
__pycache__/
.DS_store
.coverage
htmlcov/
.vscode
!.vscode/launch.json
!.vscode/ui.code-snippets
.rubocop.yml
coffeelint.json
gl-code-quality-report.json
new_keys.json
shared/services/translations/comparison
.cosine
.venv
.pylintrc
.history/
