# EVERYTHING IN HERE SHOULD BE CHANGED IN PRODUCTION
# Those should be identical
POSTGRES_USER=solaris_deploy
PG_USER=solaris_deploy
# Those should be identical
POSTGRES_PASSWORD=solaris
PG_PASSWORD=solaris

ENV_VAR=DEV
PAYG_URL=localhost
SECRET_KEY=change-me-in-production


INITIAL_ADMIN_EMAIL=admin@example.com
INITIAL_ADMIN_PASSWORD=changeme123

# Must be set for the password recovery emails and other emails to work
SENDER_EMAIL=donotreply@example.com
EMAIL_SERVER_URL=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=

