<!-- Modal Structure -->
<div id="premium-modal" class="modal modal-large">
  <div class="modal-content">
    <h4 class="center red-text">Upgrade your company access</h4>
    <h5 class="center red-text">Go "Premium" if you want access to this feature</h5>
    <br />
    <div class="row">
      <div class="col s7 push-s5">
        <span class="blue-grey-text text-lighten">
          Upgrade to "Premium" and discover all the features you need to
          increase your last-mile productivity and maximise your profitability:
        </span>
        <ul>
          <li class="blue-grey-text text-lighten">
            <strong>After-sales menu:</strong> customer interaction creation, trouble shooting
            management, field task planning and dashboards
          </li>
          <li class="blue-grey-text text-lighten">
            <strong>Management menu:</strong> users and roles management, geographical split
          </li>
          <li class="blue-grey-text text-lighten">
            <strong>Accounting menu:</strong> in & out cashflow management with dashboards
            (including live GOGLA / Lighting Global KPI framework)
          </li>
          <li class="blue-grey-text text-lighten">
            <strong>Off-line Android Mobile App:</strong> facilitate your field staff
            workflows and reporting in remote areas
          </li>
          <li class="blue-grey-text text-lighten">
            <strong>More-features</strong> released every quarter
          </li>
        </ul>
      </div>
      <div class="col s5 pull-s7">
        <img src="/static/img/premium_modal_image.png" alt="" height="300" width="400"/>
      </div>
    </div>
    <div class="row">
      <h5 class="center">
        Send an email to {{config.SUPPORT_EMAIL}} if you wish to upgrade
        your offer.
      </p>
    </div>
  </div>
</div>
