{% extends "macros/base_core.html" %}

{% block styles %}
<style>
    body {
        background-color: #003E51;
    }
</style>
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block body_content %}
<div class="row subrow align-items-center vh-100">
    <div {{ ui.card_start(title='Reset Password', uicon='password', icon_color="main", size=5, class='mx-auto login-card') }}>
        <form class="row pt-2" action="" method="post">
            {{ forms.input('username', 'Username', placeholder='Username (e-mail or phone number)', uicon='user') }}

            {{ forms.checkbox('radio_group', 'E-Mail', checked=true, value='email', label2='SMS', value2='sms', size=12, labeltag='Password recovery method', radio=true) }}

            <div class="g-recaptcha pt-3" data-sitekey="{{config.GOOGLE_CAPTCHA_SITE_KEY}}"></div>

            {{ ui.button('Reset Password', type='action', size=12, fit=true, size_class='pt-3 pb-1',
                        tooltip='Clicking this button will trigger the sending of a new temporary password to your e-mail or phone. You can use it to log-in and choose a new password. ') }}
        </form>
    </div {{ ui.card_end() }}>

    <!-- Footer -->
    <footer class="navbar fixed-bottom">
        <div class="container-xxl d-flex flex-wrap justify-content-between pt-2 flex-md-row">
          <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
              <a id="logo-container" href="http://www.paygops.com">
                  <img src="/static/img/paygops_bottom_logo-dark.png?2" class="bottom-logo">
              </a>
          </div>
          <div class="footer-text col-12 col-md-4 d-flex justify-content-center dark-footer-theme">
              <p>Copyright&copy; {{NOW.year}} <a href="https://www.masunga.tech" class="light-text-link">Masunga</a>, formerly Solaris Offgrid</p>
          </div>
          <div class="footer-text col-12 col-md-4 d-flex justify-content-center justify-content-md-end dark-footer-theme">
              <p><a href="https://www.paygops.com/privacy-policy" target="_blank" class="light-text-link">{{ftext('Privacy Policy')}}</a></p>
          </div>
        </div>
    </footer>
    <!-- / Footer -->
</div>
{% endblock %}

{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}