{% extends 'transaction_base.html' %}

{% block title %}{{ ftext('Change Offer') }}{% endblock %}

{% block form %}
    {{ transaction.device_selector_macro() }}
    {{ forms.searchable_select('new_offer_code', offers, label='Choose new offer') }}
    {{ forms.input('note', 'Note', type="textarea", size=6 if lead is defined else 12, max=40) }}
{% endblock %}

{% block button %}
    {{ ui.button('Change Offer', color='danger', class='transaction_action', action="validateAndSubmit('/api/v1/transaction_requests/change_offer/');") }}
{% endblock %}
