{% extends "macros/list_base.html" %}
{% import 'macros/general_macros.html' as ui with context %}
{% import 'macros/form_macros.html' as forms with context %}
{% import 'macros/filter_macros.html' as filter with context %}
{% import 'macros/pagination.html' as pagination_nav with context %}
{% import 'payment_macros.html' as payment_macros with context %}

{% block title %}{{ ftext('Payment List')}}{% endblock %}
{% block page_title %}{{ ui.page_title('Payments', 'List') }}{% endblock %}

{% block page_actions %}
    {{ ui.button(link=url_for('payment.add_manual_payment'), uicon="add", tooltip="Manually add payment", permission="AddPayments", type='header-action') }}
    {{ ui.button(link=url_for('admin.bulk_upload_task_view', entity='payments'), uicon="cloud_upload", tooltip="Bulk upload payments", permission="AddPayments", type='header-action') }}
    {{ filter.special_views_filter(views, view) }}
{% endblock %}

{% block content %}
    {% block header %}
        {{ filter.entities_navigation_filter(entity) }}

        <div {{ ui.collapsible_card_start(title='Filters', uicon='filter', icon_color='', active=any_filter([search, source, wallet, client, wallet_operator, user_collecting]) or from_date != from_date_default or to_date != to_date_default) }}>
            <form id="filter_form_v2" action="" method="get" class="row">
                {{ forms.input('from_date', 'From Date', type='datepicker', uicon='date', size=3, value=from_date) }}
                {{ forms.input('to_date', 'To Date', type='datepicker', uicon='date', size=3, value=to_date) }}
                {{ forms.input('search', 'Search by Transaction ID', tooltip='You can search by transaction ID', value=search, size=6) }}
                {{ forms.input('memo', 'Search by memo', tooltip='You can search by the memo of the payment', value=memo, size=4) }}
                {{ forms.input('phone_number', 'Search by Phone Number', tooltip='You can search by the phone number of the wallet', value=phone_number, size=4) }}
                {{ forms.select('payment_source', sources, value=source, labeltag="Filter by source", size=4)}}
                {{ forms.select('wallet_id', wallet_id, value=wallet.id if wallet else none, labeltag='Filter Wallet', source='wallet_id', size=6)}}
                {{ forms.select('client_id', client_id, value=client.id if client else none, labeltag='Filter by Client', source='client_id', size=6)}}
                {{ forms.select('user_collecting_id', user_collecting_id, value=user_collecting.id if user_collecting else none, labeltag='Filter by User Collecting', source='user_collecting_id', size=6)}}
                {{ forms.select('wallet_operator_id', wallet_operator_id, value=wallet_operator if wallet_operator else none, labeltag='Filter by Wallet Operator', size=4, translate=false)}}
                {{ filter.filter_buttons() }}
            </form>
        </div {{ ui.collapsible_card_end() }}>
    {% endblock %}
        {{ payment_macros.payment_tabs(tabs, paginations, active_tab) }}
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const triggerTabList = [].slice.call(document.querySelectorAll('a[data-bs-toggle="tab"]'))
        triggerTabList.forEach(function (triggerEl) {
            const tabTrigger = new bootstrap.Tab(triggerEl)
            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        })
    });
    console.log('{{ active_tab }}')
  </script>
{% endblock %}  
