{% extends 'macros/base.html' %}

{% import 'macros/general_macros.html' as ui with context %}
{% import 'macros/form_macros.html' as forms with context %}


{% block title %}{{ ftext('View Expense') }}{% endblock %}

{% block page_title %}{{ ui.page_title('Expenses', 'View', object=Expense) }}{% endblock %}

{% block page_actions %}
    {{ ui.button(link=url_for('.edit_expense', expense_id=Expense.id), uicon='edit', tooltip='Edit Expense Details', permission='EditExpenses', type='header-action') }}
    {{ ui.button(modal='delete-expense', uicon='delete', tooltip='Delete Expense', permission='DeleteExpenses', type='header-action') }}
{% endblock %}

{% block content %}
<div {{ ui.card_start(title='Expense Details', uicon='receipt', body_class='row') }}>

    {{ ui.report_field('Expense Date', ui.datetime(Expense.date), 'date', size=6) }}
    {{ ui.report_field('Category', ftext(Expense.category), 'category', size=6) }}
    {{ ui.report_field('User', ui.user_link( Expense.reportedBy.getWebUser()), 'user', size=6) }}
    {% if Expense.category == 'Fuel' %}
        {{ ui.report_field('Litres of Fuel', Expense.getAdditionalData().litres_of_fuel, 'fuel', size=6) }}
        {{ ui.report_field('Mileage', Expense.getAdditionalData().mileage, 'mileage', size=6) }}
    {% endif %}
    {{ ui.report_field('Amount', ui.amount(Expense.amount, true), 'amount', size=6) }}
    {{ ui.report_field('Description', Expense.description, 'description', size=12) }}
</div {{ ui.card_end() }}>

{# delete expense modal #}
<div {{ ui.modal_start('delete-expense', 'Confirm Expense Deletion') }}>
    <form>
        <div class="modal-body">
            {{ ui.info_card('Are you sure you want to delete the expense? This is NOT reversible. ', uicon='warning') }}
        </div>
        <div class="modal-footer">
            {{ ui.modal_close_button() }}
            {{ ui.button(type='action', uicon='delete', label='Delete expense', action='async_delete', async_url='/expenses/'+Expense.id|string, redirect_url='/accounting/expenses') }}
        </div>
    </form>
</div {{ ui.modal_end() }}>

{% if Expense.hasReceipt() %}
<div {{ ui.collapsible_card_start(title='Receipt preview', uicon='receipt', active=false) }}>
    {{ ui.info_card(uicon='receipt', color='secondary', text=ftext('Type: <b>{expense_type}</b>', expense_type=Expense.getReceiptTypeName()))}}
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('file_upload.download_picture', picture_uuid=Expense.receiptPicture) }}" target="_blank"><img class="picture-preview mb-2 mt-1" src="{{ url_for('file_upload.download_picture', picture_uuid=Expense.receiptPicture) }}"></a>
    </div>
</div {{ ui.collapsible_card_end() }}>
{% else %}
 {{ ui.info_card('This expense has NO RECEIPT. Please provide one as soon as possible ', uicon='warning') }}
{% endif %}

{{ supporting_doc(1, Expense.supportingDoc1) }}
{{ supporting_doc(2, Expense.supportingDoc2) }}
{{ supporting_doc(3, Expense.supportingDoc3) }}

{% endblock %}

{% macro supporting_doc(id, uuid) %}
    {% if uuid != '' %}
        <div {{ ui.collapsible_card_start(title=ftext('Supporting document {}', id), uicon='attachment', active=false) }}>
            {{ ui.info_card(uicon='receipt', color='secondary', text=ftext('Type: <b>{expense_type}</b>', expense_type=Expense.getReceiptTypeName(id)))}}
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('file_upload.download_picture', picture_uuid=uuid) }}" target="_blank"><img class="picture-preview mb-2 mt-1" src="{{ url_for('file_upload.download_picture', picture_uuid=uuid) }}"></a>
            </div>
        </div {{ ui.collapsible_card_end() }}>
    {% endif %}
{% endmacro %}